.azn {
	font-family: $aznb;
}


.form-heading{
    font-size: 2.5rem;
    color: $color-gray;
    font-weight: 400;
}
.login-social-text{
    font-size: 1.5rem;
    color: $color-gray;
    text-align: center;
}


.section-headering{
    text-transform: uppercase;
    font-size: 2rem;
    color: $color-gray;
    padding: 3rem 0 .2rem 0;
    display: inline-block;
    border-bottom: .25rem solid ;
    font-weight: bold;

    margin-bottom: 3rem;
}

.div-headering{
    color: $color-gray;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.6rem;
    @include respond(phone) {

      }
}

.next-news{
    color: $color-gray-dark;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.article__text{
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    color: $color-gray;
    font-size: 1.5rem;
}

.question{
    margin-bottom: 3rem;
}


.titleBox{
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.all-courses__title{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    color: $color-gray-dark;

    &::before{
        content: '';
        border-top: 2px solid $color-primary-dark;
        margin: 0 100px 0 0;
        flex: 1 0 20px;
    }

    &::after{
        content: '';
        border-top: 2px solid $color-primary-dark;
        margin: 0 100px 0 0;
        flex: 1 0 20px;
        margin: 0 0 0 100px;
    }
}

.text-limit{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 1rem;
    text-transform: lowercase;
}
