.category{
    text-align: center;
    &__postResumeBox{
        padding: 4rem 0;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    &__postResume{
        padding: 1rem 0;
        margin-right: 2rem;
    }
    &__postResumeLink{
        font-size: 16px;
        color: $color-primary-dark;
        font-weight: 700;
        padding: 1rem 2rem;
        border: 1px solid $color-primary-dark;
        border-radius: 8px;
        cursor: pointer;
        &:hover{
            background-color: $color-primary-dark;
            color: $color-white;
        }

        &--fill{
            background-color: $color-primary-dark;
            border: 1px solid $color-primary-dark;
            color: $color-white;
            &:hover{
                background-color: $color-white;
                color: $color-primary-dark;
            }
        }
    }
    &__searchBox{
        border-radius: 1rem;
        margin: 5rem 0;
        padding: 1rem;
        @include respond(phone) {
            width: 100%;
            border-radius: 0;
          }
    }
    &__searchBtn{
        border-radius: 8px;
        font-size: 15px;
        font-weight: bold;
        background: $color-primary-dark;
        height: 61px;
        width: 100%;
        color: $color-white;
        border: 0;
        float: left;
        i{
            font-size: 25px;
        }
        @include respond(phone) {
            width: 100%;
            border-radius: 0;
          }
    }
    &__field{
        width: 100%;
        position: relative;
        @include respond(phone) {
            margin-bottom: 1rem;
          }
        // &::before{
        //     position: absolute;
        //     right: 0;
        //     top: 17px;
        //     width: 1px;
        //     height: 30px;
        //     background: #e8ecec;
        //     content: "";
        //     z-index: 1;

        // }
    }
    &__fieldInput{
        border-radius: 8px;
        border: 1px solid $color-primary-dark !important;
        width: 100%;
        background: no-repeat;
        border: none;
        font-size: 13px;
        color: #888888;
        margin: 0;
        padding: 0 70px 0 30px;
        height: 61px;
        line-height: 61px;
        background-color: $color-white;
        &:focus{
            outline: 0;
        }
        @include respond(phone) {
            border-radius: 0;
            margin-bottom: 1rem;
          }
    }
    &__btnBox{
        margin-top: 5rem;
        text-align: center;
    }
    &__box{
        text-align: center;
        margin-bottom: 3rem;
    }
    &__icon{
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border-radius: 50%;
        font-size: 4rem;
        text-align: center;
        width: 10rem;
        padding: 2rem;
        margin: 0 auto;
        color: $colorPrimary;
        cursor: pointer;
        &:hover{
            background-color: $colorPrimary;
            color: $color-white;
        }
    }
    &__title{
        color: $color-black;
        font-weight: 600;
        font-size: 1.5rem;
        padding: 1rem 0;
    }
    &__count{
        font-size: 1.3rem;
    }
}

.count{
    background-color: $color-primary-dark;
    padding: 1rem 0;
    &__carousel{
        display: flex;
        justify-content: center;
        .owl-stage-outer{
            display: flex;
            justify-content: center;
        }
    }
    &__box{
        text-align: center;
        color: $color-white;
    }
    &__icon{
        font-size: 2rem;
    }
    &__num{
        font-size: 1.7rem;
        margin-top: 0.5rem;
        font-weight: 600;
    }
    &__title{
        font-size: 1.3rem
    }
}

.recentJobs{
    text-align: center;
    padding: 3rem 0;
    &__titleBox{
        margin-bottom: 2rem;
    }
    &__titleText{
        font-size: 1.5rem;
        padding: 1rem 0;
    }
    &__box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        padding: 2rem;
        border-radius: 1rem;
        margin-bottom: 3rem;
    }
    &__contentTitle{
        font-size: 2rem;
        font-weight: 600;
        text-align: left; 
        
        a{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 270px;
            color: $color-black;
            display: inline-block;
            &:hover{
                color: $color-primary-dark;
            }
        }
    }
    &__contentInfo{
        display: flex;
        margin-top: 0.5rem;
        &--inner{
            font-size: 1.5rem;
            margin-right: 1rem;
            color: $color-gray-light-4;
            a{
                color: $color-gray-light-9;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 160px;
                display: inline-block;
                &:hover{
                    color: $color-primary-dark;
                }
            }
            i{
                margin-right: 1rem;
                color: $color-primary-dark;
            }
        }
    }

}
.companies{
    text-align: center;
    padding: 5rem 0;

    &__item{
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.05);
        background-image: linear-gradient(to top, $color-white, rgba(36, 109, 248, 0.03));
        padding: 30px 10px;
        margin-bottom: 30px;
        text-align: center;
        transition: all .3s ease;

        &:hover{
            background-color: $color-white;
            .companies__body{
                p{
                    color: $color-primary-dark;
                }
            }
            .companies__link{
                background-color: $color-primary-dark;
                color: $color-white;
            }

        }
    }
    &__logoBox{
        border-bottom: 1px solid rgba($color-black, 0.08);
        padding-bottom: 20px;
        max-width: 90px;
        margin: 0 auto 20px;
    }
    &__body{
        p{
            font-size: 1.8rem;
            margin-bottom: 5px;
            font-weight: 700;
            color: $color-black;
        }
        span{
            display: block;
            font-size: 1.4rem;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            color: $color-gray-light-8;
        }
    }
    &__link{
        background: rgba(36, 109, 248, 0.1);
        color: #246df8;
        border-radius: 3px;
        padding: 8px 20px;
        font-size: 1.4rem;
        font-weight: 500;
        margin-top: 20px;
        display: inline-block;
    }
}
