.vacance {

  &__infoBox {
    box-shadow:  0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 1rem;
    margin-bottom: 4rem;
  }
  &__sjHead{
    display: flex;
    padding: 3rem 1.5rem;
    box-shadow:  0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 1rem;
    margin-bottom: 4rem;
  }
  &__sjLogo{
    width: 90px;
    height: 90px;
    margin-right: 2rem;

    img{
      width: 100%;
    }
  }
  &__sjInfo{
    text-align: left;
  }
  &__sjTitle{
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: 700;
  }
  &__sjType{
    font-size: 13px;
    margin-left: 15px;
    font-weight: 400;
    color: rgb(76, 175, 80);
    padding: 3px 8px;
    background: rgba(76, 175, 80,0.1);
    border: 1px solid rgba(76, 175, 80,0.2);
    border-radius: 2px;
  }
  &__sjlocation{
    font-size: 15px;
    color: $color-gray-light-9;

    i{
      color: $color-primary-dark;
      margin-right: 1rem;
    }
  }
  &__sjTags{
    display: flex;
    margin-top: 2rem;
    padding-left: 0;
    li{
      margin-right: 2rem;
      list-style: none;
      font-size: 13px;
      color: $color-gray-light-9;

      i{
        color: $color-primary-dark;
        margin-right: 1rem;
        font-size: 18px;
      }
    }
  }
  &__infoHead {
    padding: 2rem 3rem;
    box-shadow: 0 5px 5px -8px #333;
    text-align: left;
  }
  &__infoBody {
    padding: 3rem ;
    margin-bottom: 3rem;
  }

  &__companyInfo {
    padding: 1.5rem 0;
    font-size: 1.3rem;
    color: $color-gray;
    text-align: center;
  }
  &__companyLinkBox{
    padding-top:3rem;
  }
  &__companylink{
    background: $color-primary-dark;
    width: 250px;
    height: 60px;
    line-height: 60px;
    color: $color-white;
    font-size: 13px;
    border-radius: 40px;
    display: inline-block;
    transition: all 0.4s ease 0s;
    &:hover{
      border-radius: 1rem;
      color: $color-white;
    }
  }
  &__companyField{
    color: $color-gray;
    font-size: 13px;
    margin-bottom: 1.5rem;
    i{
      margin-right: 1rem;
      font-size: 2rem;
      color: $colorPrimary;
    }
  }

  &__applyBox{
    margin-top: 3rem;
  }
  &__applyLink{
    display: inline-block;
    width: 100%;
    color: $color-white;
    padding: 1.5rem 2rem;
    font-size: 2rem;
    cursor: pointer;
    transition: 0s;
    border-radius: 0.6rem;
    background-color: $color-primary-dark;
    &:hover{
      color: $color-white;
    }
  }

  &__companyLogo {
    width: 14rem;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
    padding: 2rem;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 3rem;


    img{
      width: 100%;
    }
  }
  &__overview {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 1rem;
    padding-top: 2rem;
    padding-left: 2rem;

    &--box {
      display: flex;
      align-items: center;
      margin-bottom: 3rem;
    }

    &--icon {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 42px;
      margin-right: 2rem;
      color: $color-primary-dark;
      font-size: 25px;
      text-align: center;
      border-radius: 50%;
      vertical-align: middle;
    }

    &--title {
      color: $color-gray-light-9 !important;
      font-size: 13px;
      text-align: left;
      display: block;
    }
    &--text {
      font-size: 11px;
      color: $color-gray-light-9;
      text-align: left;
    }
  }

  &__title {
    background-color: $color-primary-dark;
    padding: 2rem;
    position: sticky;
    top: 0;
    z-index: 9;
    @include respond(phone) {
      padding: 2rem 0;
    }

    &-name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include respond(phone) {
        font-size: 1.2rem;
      }
    }
  }

  &-name {
    color: $color-white;
    font-size: 1.8rem;
    @include respond(phone) {
      font-size: 1.2rem;
    }
  }

  &-salaryBox {
    @include respond(phone) {
      text-align: right;
    }
  }

  &-salary {
    color: $color-white;
    font-size: 1.6rem;
    padding-right: 2rem;
    @include respond(phone) {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      padding-right: 0;
      display: block;
    }
  }

  &__details {
    text-align: center;


    padding: 5rem 0;

    &--info {
      p {
        text-align: left;
        color: $color-gray;
        font-size: 1.5rem;


        @include respond(phone) {
          font-size: 1.2rem;
        }
      }

    }

    &--text {
      text-align: left;
      color: $color-gray;
      font-size: 1.5rem;
      margin-bottom: 2rem;
      padding-left: 2.5rem;

      dt {
        text-align: left;
        color: $color-gray;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: Comfortaa-b;
        @include respond(phone) {
          font-size: 1.3rem;
        }
      }

      dd {
        text-align: left;
        color: $color-gray;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: Comfortaa-b;
        @include respond(phone) {
          font-size: 1.3rem;
        }
      }

      h1 {
        text-align: left;
        color: $color-gray;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: Comfortaa-b;
        @include respond(phone) {
          font-size: 1.3rem;
        }
      }

      h2 {
        text-align: left;
        color: $color-gray;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: Comfortaa-b;
        @include respond(phone) {
          font-size: 1.3rem;
        }
      }

      h3 {
        text-align: left;
        color: $color-gray;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: Comfortaa-b;
        @include respond(phone) {
          font-size: 1.3rem;
        }
      }

      h4 {
        text-align: left;
        color: $color-gray;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: Comfortaa-b;
        @include respond(phone) {
          font-size: 1.3rem;
        }
      }

      h5 {
        text-align: left;
        color: $color-gray;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: Comfortaa-b;
        @include respond(phone) {
          font-size: 1.3rem;
        }
      }

      h6 {
        text-align: left;
        color: $color-gray;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: Comfortaa-b;
        @include respond(phone) {
          font-size: 1.3rem;
        }
      }

      span {
        text-align: left;
        color: $color-gray;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: Comfortaa-b;
        @include respond(phone) {
          font-size: 1.3rem;
        }
      }

      p {
        text-align: left;
        color: $color-gray;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: Comfortaa-b;

        // @include respond(phone) {
        //     font-size: 1.3rem;
        // }
      }

      strong {
        text-align: left;
        color: $color-gray;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: Comfortaa-b;
        @include respond(phone) {
          font-size: 1.3rem;
        }
      }

      ul {
        text-align: left;
        color: $color-gray;
        list-style: none;
        padding-left: 0;

        li {
          font-weight: 400;
          font-family: Comfortaa-b;
          font-size: 1.5rem;
          @include respond(phone) {
            font-size: 1.3rem;
          }

          p {
            display: inline-block;
            @include respond(phone) {
              font-size: 1.3rem;
            }
          }
        }
      }
    }

    &-title {
      text-align: left;
      color: $color-primary-dark;
      padding: 1rem 0;
    }

  }

  &__infoCompany {
    padding: 1rem 2rem;
    text-align: center;
    // border: 1px solid $color-gray-light-1;
    margin-bottom: 2rem;
    border-radius: 1rem;

    &-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 0;
      font-size: 1.3rem;
      color: $color-gray;

      &-2 {
        padding: unset;

        p {
          text-transform: lowercase;

          &:first-letter {
            text-transform: uppercase;
          }
        }

        p:first-child {

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-right: .5rem;
          text-align: left;

          &:first-letter {
            text-transform: uppercase;
          }
        }
      }

      &-icon::before {
        color: $color-primary-dark;
        font-size: 2rem;


      }
    }

    &-salary {
      color: $color-primary-dark;
    }
  }

  &__info {


    &-bodyContent {
      p {
        text-align: right;
      }
    }

    &-header {
      background-color: $color-primary-dark;
      padding: 1rem;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      color: $color-white;
      font-size: 1.8rem;
    }

    &-body {
      // display: flex;
      padding: 2rem;
      // justify-content: space-between;
      align-items: center;
      font-size: 1.5rem;
      color: $color-gray;
      text-align: left;
      margin-bottom: 2rem;
      @include respond(phone) {
        padding: 2rem 1rem;
        flex-wrap: wrap;
      }
    }

    &-body1 {
      padding: 2rem 1rem;
      display: flex;
      justify-content: space-between;

      @include respond(phone) {
        font-size: 1.2rem;
      }
    }

    &-bodyBox {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-content {
        padding-top: 1rem;

      }

      &-icon::before {
        color: $color-primary-dark;
        font-size: 2.5rem;
        padding-right: 2rem;
        @include respond(phone) {
          padding-right: .7rem;
        }
      }

      &--list {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 10px;

        &-item {

          display: inline;

          &::before {
            content: '' !important;
            padding: 0;
          }

        }
      }
    }
  }

}
