.blogCard{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    &__text{
        padding: 2rem;
        text-align: left;
        color: $color-gray;
        font-size: 1.3rem;
        p{
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            margin-bottom: 10px;
            text-overflow: ellipsis;
        }
    }
    &__headering{
        color: $color-primary-dark;
        height: 3rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__date{
        font-size: 1.1;
    }
    &__read-more{
        color: $color-gray;
        float: right;
        font-size: 1.1rem;
        cursor: pointer;
        &:hover{
            color:  $color-primary-dark;
        }
    }
}
