.vision {
    position: relative;
    transition: all 0.2s;
    margin-right: 1rem;
    &__link--white{
        border: 1px solid !important;
        color: $color-white!important;
    }
    &__link,
    &__link:link,
    &__link:visited {
        border: 1px solid #686868;
        color: #686868;
        height: 5rem;
        text-decoration: none;
        border-radius: 5rem;
        background: transparent;
        line-height: 5rem;
        padding: 1.45rem;
        font-size: 1.5rem;
        @include respond(phone) {
            font-size: 1.2rem;
          }

        &--icon {
            margin: 0 13px 0 5px;
        }

    }

    &:hover {
        .visionlist {
            display: block;
        }
    }


}



.visionlist {
    transition: all 0.2s;
    display: none;

    &__menu {
        background-color: #fff;
        list-style: none;
        position: absolute;
        padding: 10px 0 8px 0;
        width: 30rem;
        border-radius: 10px;
        margin: 0;
        top: 5.2rem;
        right:0;
        border: 1px solid #ddd;
        z-index: 10;
        @include respond(phone) {
            
            right:-3rem;
          }

        &--item {
            padding: 10px 5px 10px 25px;
            transition: all .2s;

          

            &:hover {
                background-color: #f5f5f5;

                .visionlist__menu--noback{
                    background-color: transparent;
                }

                .icon__color--1 {
                    color: #34bd81;
                }

                .icon__color--3 {
                    color: red;
                }

            }
        }

        &--noback{
            background-color: transparent;
            padding: 10px 5px 10px 25px;
           }

        &--link,
        &--link:link,
        &--link:visited {
            text-decoration: none;
        }

        &--icon {
            display: inline-block;
            padding: 5px 10px 0 0px;
            color: #000;

        }

        .icon__color--2 {
            color: orange;
        }

        &--span {
            font-size: 12px;
            color: #999;
            display: block;
            padding-left: 0;
            max-width: 300px;

        }

        &--strong {
            font-size: 14px;
            text-align: left;
            color: #333;
            font-weight: 400;
        }

    }


}


.setting {
    position: relative;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    border: 1px solid $color-gray;
    text-align: center;
    transition: all .2s;
    cursor: pointer;
    &--white{
        border: 1px solid $color-white;
    }

    @include respond(phone) {
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
      }

    &--icon {
        color: $color-gray;
        &-white{
            color: $color-white;
        }
    }

    &:hover {
        

        // .setting--icon {
        //     color: grey;
        // }
        .settingList__menu--item {
            visibility: visible;
            
            
        }
    }

    .settingList {
        visibility: hidden;
        
        
        &__menu {
            transition-delay: .05s;
            padding-left: 0;
            background-color: #fff;
            list-style: none;
            position: absolute;
            text-align: left;
            width: 170px;
            border-radius: 10px;
            top: 5rem;
            right:0;
            overflow: hidden;
            border:1px solid #ddd;
            z-index: 10;

            &--item {
                background-color: #fff;
                padding: 0 1rem;
                transition: all .2s;
                line-height: 34px;
                &:hover {
                    background: #f5f5f5;
                }
            }
            &--link {
                text-decoration: none;
                font-size: 14px;
                color: #333;
                cursor: pointer;
            }
            &--icon{
                margin-right: 17px;
                color: #000;
            } 
        }
    }
}