[class^="flaticon-"]:before,
 [class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
 [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 16px;
  font-style: normal;
  margin-left: 0px;
}
